.button {
  outline: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: #fff;
  background-color: #3da5f5;
  border: 0;
}

.primary:is(:hover, :active) {
  background-color: #3186ca;
}

.secondary {
  color: #3f4150;
  background-color: #ededed;
  border: 0;
}

.secondary:is(:hover, :active) {
  background-color: #b2b3b9;
}

.outlined {
  color: #3da5f5;
  background-color: #fff;
  border: 1px solid #3da5f5;
}

.outlined:is(:hover, :active) {
  background-color: #ecf6fe;
}
